html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(228, 227, 227);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/part3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 1.5;
    font-size: 20px;
    background-color: rgb(0, 4, 15);
}

h1 {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2 {
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.title {
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.5);
    border: 4px solid rgb(244, 208, 63);
    border-radius: 10px;
    margin-top: 100px;
    margin-right: 30%;
}


.container {
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.plotsummary {
    background-color: rgba(128, 128, 128, 0.5);
    border: 4px solid rgb(244, 208, 63);
    border-radius: 10px;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.comments {
    order: 2;
    background-color: rgba(118, 46, 136, 0.596);
    border: 4px solid rgb(244, 208, 63);
    border-radius: 10px;
}

.commentClass {
    background-color: rgba(0, 0, 0, 0.568);
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.dateClass {
    background-color: rgba(0, 0, 0, 0.568);
    margin-top: 10px;
    font-size: 20px;
    color: rgb(95, 95, 95);
}